.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    width: 600px;
    background:white;
    padding-bottom: 30px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 50px;

}
.text{
    color: black;
    font-size: 50px;
    font-weight: 600;
}
.underline{
    width: 100px;
    height: 5px;
    background: black;
    border-radius: 10px;
}
.inputs{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.input{
    display: flex;
    align-items:center;
    margin: auto;
    width: 550px;
    height: 8opx;
    background:rgb(226, 223, 223);
    border-radius: 6px;
}
.input img{
    margin:0px 30px
}
.input input{
    height: 30px;
    width:300px;
    background: transparent;
    border:none;
    outline:invert;
    color: rgb(31, 29, 29);
    font-size: 18px;
}
.forget-password{
    padding-left: 70px;
    margin-top: 27px;
    color: rgb(172, 172, 168);
    font-size: 20px;
}
.forget-password span{
    color: bisque;
    cursor: pointer;
}
.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px 10px;

}
    
.submit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    width: 250px;
    height: 60px;
    color: rgb(234, 238, 240);
    background:rgb(114, 111, 111);
    border-radius: 30px;
    font-size: 20px;
    font-weight: 200;
    cursor: pointer;
    

}
.gray{
    background:white;
    color: black;
}
